
img {
    width: 100%;
    height: 100%;
 margin:  auto;
}

.coverPagePicDiv{
padding: 10px;
margin: 20px auto;
width: 30%;
    height: 30%
opacity: 0.8;
box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
 background: rgba(0,0,0,.1);
//background:#D2B48C;
}



.nav-side2{
position: fixed;
z-index: 1;
right: -255px; 
top: 0; 
width: 100%;
height: 30%;
max-width: 250px;
background: black;
//background: rgba(0,0,0,0.2);
//background:#D2B48C;
box-sizing: border-box;
padding: 20px;
color: beige;
opacity: 0.9;
transition: right 1s linear 0s;
}

.nav-toggle2{
position: absolute;
left: -40px;
top: 0;
width: 40px;
height: 40px;
background-color: black;
line-height: 40px;
text-decoration: none;
text-align: center;
border-bottom-right-radius: 3px;
opacity: 0.8;
box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
font-weight: 600;
color: beige;
}

#contacts{
border: 1px dotted beige;
padding: 5px;
}
